{% extends "dashlayout.html" %}
{% block title %}Admin Add Technique{% endblock %} 
{% block content %}
      <main>
        <div class="main__container">
          <!-- MAIN TITLE STARTS HERE -->

          <div class="main__title">
            <div class="main__greeting">
              <h1>Add Technique</h1>
              <p>Fill in all required fields</p>
            </div>
          </div>

          <!-- MAIN TITLE ENDS HERE -->

          <!-- MAIN CARDS STARTS HERE -->
          <!-- MAIN CARDS ENDS HERE -->
          <div class="AddPostForm">
                <form method="POST" action="/AdminAddTeq" autocomplete="off">
                    <div class="form-sec">
                      <label >Name of Techniques</label>
                      <input type="text" name="T_name" required>
                    </div>
                      <div class="form-sunmit">
                        <a href="#"><button type="submit" class="BtnSubmit">Submit</button></a>
                      </div>
                    
                </form>
          </div>
        </div>
      </main>
{% endblock %}